:root {
  --main-color: #ccc;
  --bg-color: #f2f2f2;
  --active-color: brown;
}

html,
body,
body * {
  all: unset;
  display: block;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  width: 100vw;
  font-family: "Fira Code", "Consolas", monospace;
}

.Card {
  display: flex;
  border: 2px solid currentcolor;
  justify-content: stretch;
  align-items: stretch;
  font-size: 15vmin;
  box-sizing: border-box;
  color: var(--main-color);
  background: var(--bg-color);
  font-weight: bold;
}

.Card-close {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  font-size: 10vmin;
  color: var(--main-color);
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0)
}

.Card:target {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 70vmin;
  color: var(--active-color);
  border-width: 8px;
}

.Card:target~.Card-close {
  display: block;

}

a {
  text-decoration: none;
  color: inherit;
}

.Card a {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;

}